body {
    /* text-align: center; */
    margin: 0px;
    height: 0px;
   
    /* background-color: #001325; */
    background-color: rgb(15, 6, 26);
    /* background-color: #001325; */
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
}

#Header, #HeaderYoutube{
   
    width: 100% !important;
    height: 750px;        
    background-color: rgba(36, 17, 17, 0.486);
    box-shadow: 0px 5px 15px #03BFBF;

}



.Center {
    width: 38%;
    margin: 0px auto;
}

#Menu {
    background-color: #001325b9 !important;

}

#Menu li {
    
    padding: 9px;
    padding-left: 12px;
    padding-right: 12px;
    display: inline-block;
    margin: 0px auto;
    margin-left: 5px;
    margin-right: 5px;
    overflow: hidden;
    transition: 0.4s all;
    background-color: rgba(29, 12, 92, 0.329);
}

#Menu li a {
    margin: 0px auto;
    color: white;

}

#Menu li:hover {
    transform: translateY(6px);
    background-color: rgba(65, 34, 179, 0.521);
    color: white;
    
}
#Menu .Item-Hover{
    transform: translateY(6px);
    background-color: rgba(65, 34, 179, 0.521);
    color: white;
}


#Datos, #DatosYoutube{
    width: 50%;
    margin: 0px auto;
    margin-top: 12%;
    -webkit-transition: width 2s, height 2s, -webkit-transform 2s;
    /* For Safari 3.1 to 6.0 */
    transition: width 2s, height 2s, transform 2s;
}

#Datos .Foto {
    width: 15%;
    float: left;
}

.Foto img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    animation: Rotar 5s infinite;
}

@keyframes Rotar {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(350deg);
    }
}
/* #Info{
    
    background-color: rgba(36, 17, 17, 0.486);
} */
.Img-Perfil{
    width: 250px;
    max-width: 250px;
    border-radius: 20px;
    margin-top: 15px;
    
}
.Informacion {
    z-index: 1;
    width: 100%;
    
    /* margin-top: 5%; */
}

.Informacion h2 {
   
    width: 100%;
    float: right;
    color: rgba(255, 253, 253, 0.856);
   
    font-size: 90px;
    
}

.Informacion h4{    
    font-size: 22px;
    text-shadow: -3px 4px 4px rgba(114, 151, 156, 0.699);
}
.Informacion h6{
    font-family: monospace;
    font-size: 18px;
    text-shadow: -3px 4px 4px rgba(114, 151, 156, 0.699);
}
.Informacion h4, .Informacion h6 {    
    color: whitesmoke;
    /* text-shadow: -2px 8px 6px rgba(224, 228, 221, 0.281); */
    width: 100%;
  
}

.Informacion h2:hover, .Informacion h4:hover {   
    cursor: pointer;
}

.Jose{
    animation: CambioColor 3s infinite;
    font-family: fantasy;
    color: rgb(51, 31, 235);
    text-shadow: 1px 3px 1px rgba(224, 228, 221, 0.849);
}
.Gonzalo{
    animation: CambioColor 3s infinite;
    color: rgb(186, 181, 236);
    font-family: fantasy;
    text-shadow: 1px 3px 1px rgba(224, 228, 221, 0.849);
}
.TxtSobreMi {
    font-size: 17px;
    width: 80%;
    text-align: left;
}
.text-informacion{
    color: rgb(219, 150, 150);
}
.DvCotactame{
    margin-top: 5%;    
    z-index: 1;
}
.btn-Contactame{
    border-radius: 34px;
}
.btn-Contactame:hover{
        background-color: rgb(56, 56, 207);
        box-shadow: 1px 4px 4px rgba(128, 128, 231, 0.856) ;        
        transform: translateY(-3px);
}
/* #InformacionPersonal{
    height: 500px !important;
}
#Skill{
    height: 500px !important;
} */
@keyframes CambioColor {
    0% {
        text-shadow: -3px 4px 4px rgba(104, 135, 139, 0.699);
    }

    50% {
        text-shadow: -3px 4px 4px rgba(133, 174, 180, 0.699);
    }

    75% {
        text-shadow: -3px 4px 4px rgba(175, 228, 235, 0.856);
    }

    100% {
        text-shadow: -3px 4px 4px rgba(104, 135, 139, 0.637);
    }

}

/* Foooter */
#Footer {
    margin-top: 5%;
    background-color: #001325b9 !important;
    width: 100%;
    height: 150px;
}

#Footer i {
    margin-top: 20px;
    color: rgb(148, 119, 119);
}

#Footer a {
    margin-left: 35px;
    margin-right: 35px;
}

#Footer span h6 {
    color: #03BFBF;
}

#Html {
    color: orange;
}

#Php {
    color: rgb(109, 109, 199);

}

/* Proyectos */
.overlay,
.overlay2,
.overlay3 {
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.966);
    z-index: 2;
    cursor: pointer;
}

.CardProyectos,
.CardProyectos2,
.CardProyectos3 {
    overflow: hidden;
    height: 220px;
}

.CardProyectos img,
.CardProyectos2 img,
.CardProyecto3 img {
    transition: transform .2s;
}

.CardProyectos:hover img,
.CardProyectos2:hover img,
.CardProyectos3:hover img {
    transform: scale(1.4);
}
/* @media(min-width: 1194px){
    #Header{
        width: 20%;
    }
} */
@media(max-width: 950px){
    .Informacion h2{
        font-size: 70px;
    }
}

@media(max-width: 870px) {
    .IconoNode{
        width: 80% !important;
    }
    .IconoVue{
        width: 55px !important;
    }
    .Img-Perfil{
        width: 150px;
        max-width: 250px;
        border-radius: 50%;
        margin-top: 15px;
        
    }
    #Datos {
        width: 100%;
        margin-top: 35%;
    }
    .Informacion h2 {   
        width: 100%;
        float: right;
        color: rgba(255, 253, 253, 0.856);       
        font-size: 60px;        
    }
    
    .Informacion h4{    
        font-size: 20px;
        text-shadow: -3px 4px 4px rgba(114, 151, 156, 0.699);
    }
    .Informacion h6{
        font-family: monospace;
        font-size: 18px;
        text-shadow: -3px 4px 4px rgba(114, 151, 156, 0.699);
    }
    .Jose{
        animation: CambioColor 3s infinite;
        font-family: fantasy;
        color: rgb(51, 31, 235);
        text-shadow: 1px 3px 1px rgba(224, 228, 221, 0.849);
    }
    .Gonzalo{
        animation: CambioColor 3s infinite;
        color: rgb(186, 181, 236);
        font-family: fantasy;
        text-shadow: 1px 3px 1px rgba(224, 228, 221, 0.849);
    }
    #Menu{        
        overflow: hidden;      
        min-width: 100px !important;
        margin: 0px auto;
        margin-bottom: 5%;
        border-radius: 45px;
        background-color: #0d2235f3 !important;
    }
    #DivUl{
        width: 100% !important;
        margin: 0px auto;
        position: relative        
    }
    #DatosYoutube{
        width: 100%;
        margin-top: 25%;
    }
    
    #Menu li {
        width: 65px;
        min-width: 65px;
        margin: 0% auto;
        border-radius: 25px;
    }
    #Menu li a i{
        width: auto;
        margin: auto;
    }
  

    /* Iconos del Footer */
    #RowFooter a span i,
    #RowFooter a span h6 {
        animation: CambioColor 3s infinite;
    }

 

    /* Card Proyectos */
    .CardProyectos,
    .CardProyectos2,
    .CardProyectos3 {
        margin: 20px;
        height: 300px;
        background-color: rgb(14, 7, 75) !important;
    }

    .overlay,
    .overlay2,
    .overlay3 {
        padding: 10px;
    }

    .overlay p,
    .overlay2 p,
    .overlay3 p {
        font-size: 15px;
    }

    /* Menu  */
    
    /* Pagina de Youte */
    .LinkVermas{
        margin-top: -50px;
    }
    .VideoYoutube{
        height: 150px !important;
    }
    .NoMostrar{
        display: none;
    }
}
/* Fin pantala de cell */
/* Cambiar la apareicia del Scroll */
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(65, 34, 179, 0.521);
    ;
    border-radius: 2px;
}